@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital@1&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Vidaloka&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
}
:root {
  --main-color:rgb(255, 220, 20);
  --second-color: #f8c200;
  --third-color: #f4f6ff;
  --text-color: #000814;
  --fs-xl: 1.5rem;
  --fs-large: 1rem;
  --fs-medium: 0.875rem;
  --fs-small: 0.75rem;
  --spacing-xl: 2.625rem;
  --spacing-large: 1.75rem;
  --spacing-medium: 1rem;
  --spacing-small: 0.5rem;
  --spacing-tiny: 0.25rem;
}

body {
  font-family: Poppins, sans-serif;
  background-color: var(--fourth-color);
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

/* navbar section */
.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: transparent;
  transition: background 0.3s ease-in-out;
  z-index: 1000;
}

.logo {
  width: 100px;
  height: auto;
}
.logo img {
  width: 100%;
  height: auto;
  display: block;
}
.menu {
  display: flex;
  list-style: none;
}
.menu li {
  margin: 0 15px;
  letter-spacing: 0.5px;
  position: relative;
}
.menu a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 18px;
  transition: color 0.3s ease-in-out;
  position: relative;
}
.menu a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: var(--main-color);
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
.menu a:hover {
  color: var(--third-color);
}
.menu a:hover::after {
  width: 100%;
  left: 0;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  z-index: 1100;
}
.hamburger div {
  width: 30px;
  height: 3px;
  background: var(--main-color);
  transition: all 0.3s ease-in-out;
}
.hamburger:hover div {
  background: var(--third-color);
}

@media (max-width: 768px) {
  .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: auto;
    text-align: center;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }

  .menu.show {
    transform: translateY(0);
    opacity: 1;
  }
  .menu li {
    margin: 20px 0;
  }
  .menu a {
    color: var(--main-color);
    font-size: 20px;
    transition: background 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .menu a i {
    margin-right: 5px;
  }
  .menu a:hover {
    color: var(--third-color);
    border-radius: 5px;
  }
  .hamburger {
    display: flex;
  }
  .hamburger.active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.active div:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}

@media (max-width: 345px) {
  .menu {
    width: 100%;
    height: 82vh;
  }
}

/* navbar section */
/* hero section */

.hero {
  width: 100%;
  height: 45rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50 )),
    url("./media/hero-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  width: 100%;
  text-align: center;
  font-family: "vidaloka", sans-serif;
  color: var(--main-color);
  font-size: 6rem;
  font-weight: lighter;
}

.hero-subTitle {
  width: 100%;
  text-align: center;
  font-family: "vidaloka", sans-serif;
  font-weight: lighter;
  font-size: 3rem;
  color: var(--second-color);
}

/* hero media */
@media (max-width: 768px) {
  .hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero-title {
    font-size: 4rem;
    text-align: center;
  }

  .hero-subTitle {
    width: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
/* hero section */

/* main */

main {
  font-family: "Urbanist", sans-serif;
  background-color: var(--third-color);
  padding: 20px;
  color: #333;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu-container {
  max-width: 860px;
  margin: auto;
  background: var(--third-color);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.category {
  background: var(--second-color);
  padding: 15px;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
}
.item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: var(--second-color);
  border-radius: 6px;
  margin-bottom: 6px;
  font-weight: 600;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease, color 0.3s ease;
}
.item:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(255, 69, 0, 0.3);
  background: var(--text-color);
  color: var(--main-color);
}
@media (max-width: 900px) {
  .categories {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .categories {
    grid-template-columns: 1fr;
  }
  .item {
    flex-direction: row;
    align-items: left;
    text-align: left;
  }
}
.visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
.fullMenu {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: var(--main-color);
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  justify-content: center;
  align-items: center;
}

.fullMenu:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.fullMenu:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.fullMenu:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--text-color);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.fullMenu:hover {
  color: var(--main-color);
  border: 1px solid var(--text-color);
}

.fullMenu:hover:before {
  top: -35%;
  background-color: var(--text-color);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.fullMenu:hover:after {
  top: -45%;
  background-color:var(--text-color);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
/* main */

/* footer section */
.footer {
  font-family: "Urbanist";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-medium);
  background: var(--main-color);
  color: var(--text-color);
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.footer-enjoy {
  font-weight: bold;
  font-size: var(--fs-large);
  display: inline-block;
  overflow: hidden;
  animation: typing 3s steps(20, end) forwards, blink 0.7s infinite;
}

.footer div {
  flex: 1;
}
.footer a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 10px;
  padding: var(--spacing-tiny);
}

.footer a:hover {
  color: white;
  transition: 0.4s;
}
.footer i:hover {
  color: white;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
}

/* footer section */
